html{
    font-family: 'Roboto',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    /* TBD */
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 0px 72px;
}

.header-logo{
    font-size: 24px;
    color:#F9FAF8;
}

.header-links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* CONTAINER */
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* HERO */
.hero{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px 32px;
    gap: 32px;
}

.hero-left, .hero-right{
    width: 400px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.hero-left h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin: 0;
    padding: 0;
}

.hero-left p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    border-radius: 6px;
    padding: 4px 16px;
}

.hero-right{
    background-color: rgb(110, 116, 124, 1.0);
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

/* INFO */
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
}

.info-title{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.info-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
}

.info-item img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

/* QUOTE */
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 800px;
    padding: 0;
    margin: 0;
}

.quote-cite{
    align-self: flex-end;
    font-weight: bold;
    padding-right: 32px;
}

/* CALL TO ACTION */
.call-to-action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px;
    border: 1px solid #3882F6;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 32px 64px;
}

.action-title{
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.action-left{
    flex: 3;
    padding: 32px;
}

.action-summary{
    padding: 0;
    margin: 0;
    color: #E5E7EB;
    font-weight: lighter;
}

.action-right{
    flex: 1;
}

.action-right button{
    border-color: #F9FAF8;
    padding: 8px 16px;
    font-weight: bold;
}